html
  head
    title='It is all about Application'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello World!!!
        p This is a simple web app!!
        p 
        p Version 0.1 

